.addTodo__main {
  margin-top: 5rem;
}

.addtodo__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  padding-block: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  background-color: var(--clr-gray);
  padding-inline: 2rem;
}

.addtodo__container>div {
  text-align: center;
}

.addtodo__container>div h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.addtodo__container input,
.addtodo__container textarea {
  padding-left: 10px;
  padding-block: .3rem;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid transparent;
}

.addtodo__container input:focus,
.addtodo__container textarea:focus {
  border-color: var(--clr-purple);
  /* caret-color: var(--clr-purple); */
}

.addtodo__container button,
.addtodo__container a {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  background-color: var(--clr-purple);
  display: grid;
  place-content: center;
  height: 35px;
  border: 1px solid transparent;
  font-size: 0.9rem;
  /* font-weight: 600; */
  color: var(--clr-white);
}

.addtodo__container a {
  background-color: var(--clr-blue);
  text-decoration: none;
}