.todos__section aside {
  margin-bottom: 2rem;
}

.todos__section aside h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.todos__section aside a {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  background-color: var(--clr-purple);
  display: grid;
  place-content: center;
  height: 35px;
  border: 1px solid transparent;
  font-size: 0.9rem;
  color: var(--clr-white);
  text-decoration: none;
  max-width: 12.5rem;
  margin-top: 1rem;
}

.todos__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  background-color: var(--clr-green);
  padding-bottom: 2rem;
  padding-inline: .5rem;
  max-width: 60%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-gray);
  padding-block: .4rem;
  margin-bottom: 1rem;
}

.top h1 {
  font-size: 1.2rem;
}

.top button {
  height: 35px;
  width: 35px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  background-color: var(--clr-blue);
  font-size: 1.2em;
  border: 2px solid transparent;
  transition: var(--transition);
}

.top button:hover {
  background-color: transparent;
  border-color: var(--clr-blue);
  border-radius: 50%;
}