.todos__section aside {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.todos__section aside input {
  align-self: center;
  height: 40px;
  outline: none;
  width: 70%;
  max-width: 39.375rem;
  padding-left: 10px;
}

.todos__section aside h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.todos__section aside a {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  background-color: var(--clr-purple);
  display: grid;
  place-content: center;
  height: 35px;
  border: 1px solid transparent;
  font-size: 0.9rem;
  color: var(--clr-white);
  text-decoration: none;
  max-width: 12.5rem;
}

.todos__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.todo {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  background-color: var(--clr-green);
  padding-bottom: 2rem;
  padding-inline: .5rem;
  word-wrap: break-word;
}

.bottom {
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottom small {
  font-weight: 600;
  color: var(--clr-white);
}

.title {
  font-size: 1.2rem;
  border-bottom: 1px solid var(--clr-gray);
  text-align: center;
  padding-block: .4rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.deleteBtn {
  height: 35px;
  width: 35px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  background-color: var(--clr-blue);
  font-size: 1.2em;
  border: 2px solid transparent;
  transition: var(--transition);
}

.deleteBtn:hover {
  background-color: transparent;
  border-color: var(--clr-blue);
  border-radius: 50%;
}